body{
  width: auto;
  padding: 0px;
  border: 0px;
  margin: 0px;
}
p{
  color: white;
  background-color: black;
  font-size: 25px;
  font-family: serif;
  text-align: justify;
  padding: 0px;
  border: 0px;
  margin: 0px;
}
a{
  display: block;
  color: white;
  background-color: black;
  font-size: 25px;
  font-family: serif;
  text-align: center;
}
.Contenedor-Perfil{
  width: 100%;
}
.Foto-Perfil{
  display: block;
  border-radius: 50%;
  width: 100%
}