img{
    width: 75%;
    border-radius: 50%;;
}
.Contenedor_Perfil {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
  }
  .Columna_1{
    display: grid;
    place-items: center;
    background-color: rgb(0, 0, 0)
  }
  .Columna_2{
    display: grid;
    place-items: end stretch;
    background-color: rgb(0, 0, 0)
  }
  .Datos_Perfil{
    list-style-type: none;
    color: white;
    font-size: 5vw;
  }